<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bootstrap-social/bootstrap-social.css">
  <style>
     .card {
  
   max-width: 3000px;
  max-height: 350px;
 
  text-align: center;
  font-family: arial;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
 </style> 
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
<div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">  
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">  <!--<img src="img/logo.png" height="30" width="41">--></a>
    <div class="collapse navbar-collapse" id="Navbar">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="index.html" ><span class="fa fa-home fa-lg"></span> Home</a></li>
        <li class="nav-item"><a class="nav-link" href="aboutus.html" ><span class="fa fa-info fa-lg"></span> About Us</a></li>
        <li class="nav-item"><a class="nav-link" href="/base" ><span class="fa fa-list fa-lg"></span> 3D Models</a></li>
        <li class="nav-item"><a class="nav-link" href="#" ><span class="fa fa-list fa-lg"></span> Premium Models</a></li> 
        <li class="nav-item"><a class="nav-link" href="/con" ><span class="fa fa-address-card fa-lg"></span> Contact Us</a></li>
    </ul>
     
    </div><div class="col-2 col-sm-2"> 
                <a href="/base" class="btn btn-primary">Back</a></div>
</div>
</nav>
<div class="container"> 
        <div class="row row-content">
             <div class="col-2 col-sm-3"> &nbsp;</div><div class="col-10 col-sm-9">
            <h1><I>My Orders<img src="bag.gif" style="width: 100px;"></I></h1>
            {{#if success}}
                <div class="alert alert-primary"  role="alert">{{success}}</div>{{/if}}
            <br>
            </div>
       
{{#if orders}}
<table class="table table-striped"> 
    <thead>
        <tr>
            <th>Sr.No</th>
        <th>Name</th>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>TotalPrice</th>
        <th>Added On</th>
        </tr>
    </thead>
    <tbody> <script type="text/javascript"> var i=1; </script>
        {{#each orders}} 
        
<tr><script type="text/javascript">for( ;i<=orders.length;i++)</script>
 <td><script type="text/javascript">  {
    document.write(i); i++;
     }</script></td>
 <td>{{#each this.items}}{{this.item.name}}{{/each}}</td> 
<td><img src="data:img/fbx;base64,{{#each this.items}}{{this.item.img.base}}{{/each}}"  height="100" width="100">
   </td>
  <!-- <td>{{#each this.items}}{{#each this.item.img.base.data}}{{this}}{{/each}}{{/each}}</td>-->
 <td>{{#each this.items}}{{this.item.price}}{{/each}}</td>
 <td>{{#each this}}{{this.qty}}{{/each}}</td>
 <td>{{#each this}}{{this.totalprice}}{{/each}}</td>
 <td>{{#each this}}{{this.date}}{{/each}}</td>
</tr>{{/each}}</tbody>
</table><br>

</div> </div>
{{else}}

    <div class="col-sm-3"> </div>
    <div class="col-12 col-sm-6"><br><br>
<div class="card">
  <a href="/base"><img src="bag.png" style="width:100%"><br><br>
 <p>
      <button href="/base">Shop Now!</button></p></a><p>Check out our exclusive models and shop now!</p>
</div></div>

{{/if}}</div>


<script src="jquery/dist/jquery.slim.min.js"></script>
    <script src="popper.js/dist/umd/popper.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
   
    <script>
        
        $(document).ready(function(){
                $("#loginid").click(function(){
                $("#loginModal").modal('show');
            })
        });
    </script> 
    
 
</body>
</html>