<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bootstrap-social/bootstrap-social.css">
    <style>
    	canvas {width: 20%; height: 20%;}
        .dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
   display: block;
   width:100%;
  max-width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  color:chocolate;
  width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
   overflow-x: auto;
}

.dropdown-content a:hover {background-color:lightblue;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
    </style>
</head>
<title>Booksdekho</title><link rel = "icon" href ="/icon.png" style="width:300px;" type = "image/x-icon"> 
<body>
<nav class="navbar navbar-dark navbar-expand-sm fixed-top">
<div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">  
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">  <!--<img src="img/logo.png" height="30" width="41">--></a>
    <div class="collapse navbar-collapse" id="Navbar">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active"><a class="nav-link"  href="index.html" ><img src="home.png" style="width: 30px;"> Home</a></li>
        <li class="nav-item active"><a class="nav-link" href="/base" ><img src="books.png" style="width: 30px;">Books</a></li>
      
    </ul></div>
    <span class="navbar-text">
        <a href="/icart1"><img src="cart2.png" style="width: 40px;"><span class="badge" 
        style="border-radius: 50%;
    width: auto; background:yellow;
    height: auto;
    padding: 2px;
    border: 4px solid yellow; left:-6px;
    text-align: center; color:darkmagenta">
           {{ct}} </span>&nbsp; Cart</a>
    
    <a>&nbsp;</a>   <a href="/upl">
            <img src="log.png" style="width: 30px;"> Upload</a>
    
    

</div>
</nav>

        <header class="jumbotron" style="background-image: url(bok.jpg);background-size: 1520px;background-repeat: no-repeat;">
        <div class="container">
           <div class="row row-header">
                <h1> <img src="icon1.png" style="width: 40px;" class="img-fluid">Booksdekho</h1>
            
            </div>
        </div>
    </header>
<div class="container">
             <div class="row">
                <ol class="col-12 breadcrumb">
                <li class="breadcrumb-item"><a href="./index.html">Home</a></li>
                <li class="breadcrumb-item active"><a href="/base">Books</a></li>
            </ol>
            <div class="col-3 col-sm-4"><form id="fil" method="POST" action="/filter">
                <select id="filters" name="filters" style="max-width: 200px; overflow-x:auto; height:100px;" 
                 data-style="btn-default" class="selectpicker form-control" multiple required>
               {{#each cap1}}
                <option value="{{#each this}}{{this.name}}{{/each}}">{{#each this}}{{this.name}}{{/each}}</option> {{/each}}
                </select><br>
                <button class="btn btn-info btn-md"  style=" background:orange; " id="sub" type="submit" >
                    <i class="fa fa-filter">&nbsp;Filter</i></button>
                </form>
             </div>
            <div class="col-sm-4">{{#if success}}<div class="alert alert-success" style="overflow-x: auto;" role="alert">
             {{success}}</div>
            {{else}} {{#if error}}<div class="alert alert-danger"  role="alert">{{error}}</div>
            {{else}}{{/if}}{{/if}}
            </div>
            <div class="col-sm-4">
             <input type="text" id="myInput" style="padding-left: 2.375rem;  width: 200px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;background-color: white;
  background-image: url('search.png');
  background-position: 10px 10px; 
  background-size: 25px;
  background-repeat: no-repeat;  padding: 12px 20px 12px 40px;" autofocus:true onkeyup="myFunction()" placeholder="Search for books.."> 
             </div>
             
              <hr></div>
             <table id="myTable">  
                 <!--
   <tr><div class="row row-content">
  {{#each thumb}}
     <div class="card" id="card"><img src="data:img/fbx;base64,{{#each this}}{{this.img.base}}{{/each}}"  style="height: 40%; width:100%"><br>
     <h5 class="card-title" id="mname" style="width: 100%; height:20%; position:absolute; margin-top:200px; overflow-y:auto; ">{{#each this}}{{this.name}}{{/each}}</h5> 
     <a style="width: 100%; height:20%;position:absolute; margin-top:230px; ">{{#each this}}{{this.desc}}{{/each}}</a> 
    
     <span class="badge badge-dark" style="position:absolute; margin-top:270px;">Rs.{{#each this}}{{this.price}}{{/each}}/-</span> 
      <p></p><a {{#each this}}href="/cart1/{{this._id}}"{{/each}} class="btn btn-info btn-sm" style="width: 80%;position:absolute; margin-top:310px;">
          <i class="fa fa-shopping-cart"></i> Add to Cart</a> 
          <form method="post" {{#each this}}action="/wish/{{this._id}}"{{/each}}>
          <button class="btn btn-info btn-sm" style="width: 80%; position:absolute; margin-top:350px;"  id="btnt" type="submit"
          onClick="this.form.submit();" >
          <i class="fa fa-heart" style="color: red;"></i> &nbsp;Wishlist</button></form></p>  
            </div>
    {{/each}}</div></tr> --> <script src="script.js"></script>
     <tr><div class="row row-content">
  {{#each thumb}}
     <div class="card" id="card">
         <div class="imgs" style="height: 150;">
         <img src="data:img/fbx;base64,{{#each this}}{{this.img.base}}{{/each}}"  style="height: 100%; width:100%"></div><br>
     <h5 class="card-title" id="mname" style="width: 100%; height:20%;  overflow-y:auto; ">{{#each this}}{{this.name}}{{/each}}</h5> 
     
     <div class="cost" style="width: 150;"><span class="badge badge-dark" style="width:100%; ">Rs.{{#each this}}{{this.price}}{{/each}}/-</span> </div>
      <p></p><a {{#each this}}href="/cart1/{{this._id}}"{{/each}} class="btn btn-info btn-sm" style="width: 100%; background:darkslateblue; ">
        <i class="fa fa-shopping-cart"></i> Add to Cart</a> 
         </p>  
            </div>
    {{/each}}</div></tr>
</table> 
 </div>
   <footer class="footer" style="background-image: url(wall3.jpg);background-size: 1520px;background-repeat: no-repeat;">
        <div class="container">
            <div class="row">             
                <div class="col-3 offset-1 col-sm-2">
                    <h5 style="color: beige;">Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="/base">Books</a></li>
                    </ul>
                </div>
                <div class="col-6 col-sm-5">
                    
                    <address><h5 style="color: white;">Our Address&nbsp;<img src="add.png" style="width: 20px;"></h5>
                    SwitchPay Solutions Pvt.Ltd, D-4 802, Lake Town CHS,Bibwewadi-Katraj Road,Katraj Pune-411046<br>
		              <i class="fa fa-phone fa-lg"></i>:<a style="color: white;" href="tel:+918484030904"> +91 8484030904</a> <br>
                     
                      <i class="fa fa-envelope fa-sm"></i>: 
		              <a style="color: white;" href="mailto:contact@switchtopay.com">contact@switchtopay.com</a><br><br>
		           </address>
                </div>
                <div class="col-3 col-sm-4">
                   <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15138.960731624524!2d73.8675033!3d18.4501022!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb75eebf3233ba776!2sSwitchPay%20Solutions%20Pvt.Ltd!5e0!3m2!1sen!2sin!4v1609403443575!5m2!1sen!2sin" 
  width="200" height="150" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                    
           </div>

           <div class="row">     <div class="col-4 col-sm-5">&nbsp;</div>
           <div style="color: white;" class="col-8 col-sm-7">  
            <br>
               <a href="pp.html" >Privacy Policy</a>   
            </div></div><div class="row"><div class="col-sm-4">&nbsp;</div>
            <div style="color: white;"class="col-12 col-sm-8">             
                
                   © Copyright 2020 SwitchPay Solutions Pvt.Ltd
                
           </div></div>
        </div>
    </footer>
    <script src="jquery/dist/jquery.slim.min.js"></script>
    <script src="popper.js/dist/umd/popper.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
   
    <script>
        
        $(document).ready(function(){
                $("#loginid").click(function(){
                $("#loginModal").modal('show');
            })
        });
        function changeText() {
            /*
  var dots = document.getElementById("dots");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Wishlist"; 
    
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Added to wishlist"; 
    
  } */
  var btnText = document.getElementById("myBtn");
   btnText.innerHTML = "Added to wishlist"; 
}
 function disableButton() {
        var btn = document.getElementById('btnt');
        btn.disabled = true;
        btn.innerText = 'AddedtoWishlist'
    }

    function myFunction() {
  let input = document.getElementById('myInput').value 
    input=input.toLowerCase(); 
    let x = document.getElementsByClassName('card'); 
      
    for (i = 0; i < x.length; i++) {  
        if (!x[i].innerHTML.toLowerCase().includes(input)) { 
            x[i].style.display="none"; 
        } 
        else { 
            x[i].style.display="";                  
        } 
    } 
    }
    document.getElementById('sub').onclick = function() {
  var selected = [];
  for (var option of document.getElementById('filters').options) {
    if (option.selected) {
      selected.push(option.value);
    }
  }
 console.log(selected);
}
 $(document).ready(function(){
            $("#loginid1").click(function(){
            $("#loginModal1").modal('show');
        })
    });
    </script> 
    
 
</body>
</html>

